extends layout
block content
  div#nameform.modal
    div.modal-dialog.modal-lg
      div.modal-content
        div.modal-header
          h4 Please enter a nickname
        div.modal-body
          form.form-horizotanl
            div.form-group
              label(for="nickname") Nickname
              input#nickname.form-control(type='text')
            div.form-group
              input#setname.btn.btn-primary(value="Set Name")
  section#chatroom
    div#messages
    div.enter-message-div
      div.form-group
        input#message.form-control(type='text', placeholder='Enter your message here')
        input#send.btn.btn-primary.pull-right(type='button', value='Send')
